:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #999999;
  padding: 8px;
  text-align: left;
}

.ep {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin-top: 2em;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border-color: rgba(100, 100, 100, 0.87);
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  background-color: #1a1a1a;
  border-color: rgba(100, 100, 100, 0.87);
}

.csvInputContainer {
  display: flex;
  align-items: center;
}

p {
  margin-right: 1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #777777;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background-color: #343434;
  color: #dddddd;
  border-color: #111111;
  border-style: solid;
  border-radius: 8px;
  position: relative;
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#map {
  height: 180px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around; /* Adjust as needed: space-around, space-between, etc. */
  align-items: center;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #646cff;
  font-weight: 500;
  padding: 0.5em 1em;
  border-radius: 8px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #535bf2;
}
